body {
  background-color: #282C34;
  color: white;
  font-family: 'Concert One', cursive;
  margin: 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  padding: 1px;
}

.button-space {
  padding: 14px 4px;
}

.weather-box {
  border: 1px dotted Gray;
  display: inline-block;
  padding: 4px 8px;
}
